@{
    ViewData["Title"] = "Borç Tahsilat Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/responsive.bootstrap4.min.css" />

}

    <div class="px-5 py-5">
        <div class="px-5 py-5">
            <div class="px-5 py-5 card-body">
                <div class="card">
                    <div class="card-header  ">
                        <h3 class="page-title pt-1 text-start">BORÇ TAHSİLAT RAPORU KRİTER</h3>
                    </div>
                </div>
                <div class="card pt-3" id="borcTahsilat">
                    <div class="card" style="width:500px; margin:auto">
                        <div class="card-header" style="height:45px; background-color:#ffb822">
                            <h6 class="my-1" style="color:white">Tarih Aralığı</h6>
                        </div>
                        <div class=" align-self-center px-4 pt-4" style="width:430px">
                            <label class=" form-label text-start" for="date1"><b>BAŞLANGIÇ TARİHİ</b></label>
                            <div class="col-sm-10 mx-2 ">
                                <input class="form-control" type="date" value="date" id="date1" name="date1">
                            </div>
                        </div>
                        <div class=" align-self-center px-4 pt-4 my-3" style="width:430px">
                            <label class="form-label text-start" for="date2"><b>BİTİŞ TARİHİ</b></label>
                            <div class="col-sm-10 mx-2 my-2">
                                <input class="form-control" type="date" value="date" id="date2" name="date2">
                            </div>
                        </div>
                    </div>
                    <div style="margin:auto;">
                        <div class="align-self-sm-center mx-lg-5 pt-4" style="width:500px">
                            <label class="col-sm-4 form-label text-start mx-4" for="Dropdown1"><b>LOKASYON BELİRT</b></label>
                            <select class="col-md-6 dropdown-control" id="locDropdown1" name="LocId"></select>
                        </div>
                        <div class="align-self-sm-center mx-lg-5 pt-3" style="width:500px">
                            <label class="col-sm-4 form-label text-start mx-4" for="Dropdown2"><b>KULLANICI BELİRT</b></label>
                            <select class="col-md-6 dropdown-control" id="userDropdown2" name="PıdId"></select>
                        </div>
                        <dciv class="align-self-sm-center mx-lg-5 row" style="width:500px">
                            <label class="col-sm-4 form-label text-start mx-3 my-2 pt-3" for="ekle_Dropdown1"><b>ARAÇ PLAKASI</b></label>
                            <div class="col-sm-6 mx-2 pt-2 my-2">
                                <input class="form-control " typeof="number" id="plaka" name="plaka" />
                            </div>
                        </dciv>
                    </div>
                    <div class="pt-2 my-3" style="width:200px; margin:auto">
                        <button class="btn btn-outline-warning mx-3 text-center" style="align-self:center; width:150px; height:80px" onclick="javascript:debtCollectionReport();">GÖRÜNTÜLE</button>
                    </div>
                </div>
                @*-----------------------------*@
                <div class="container-fluid mt-5">
                    <div class="row mt-5">
                        <div class="card">
                            <div class="table-responsive p-2">
                                <table id="borcReport_table" class="table table-striped table-bordered dt-responsive nowrap" style="vertical-align:middle; width:100%;">
                                    <thead>
                                        <tr>
                                            <th>PLAKA</th>
                                            <th>KULLANICI</th>
                                            <th>LOKASYON</th>
                                            <th>BİTİŞ</th>
                                            <th>ÜCRET</th>
                                            <th>AÇIKLAMA</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                            <th>₺<b id="sum_amount"></b> </th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                @*--------------------------------*@
            </div>
        </div>
    </div>

    @section scripts {

    <script type="text/javascript" src="~/plugins/datatables/jszip.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/buttons.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/buttons.html5.min.js"></script>


    <script type="text/javascript">
        var debtTable = null;

        $((_$) => {
            Dropdown1();
            Dropdown2();
            getDate();

        });

        var getDate = () => {
            var today = new Date();

            document.getElementById("date1").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
            document.getElementById("date2").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

        }

        var debtCollectionReport = () => {

            if (debtTable != null) {
                debtTable.destroy();
                debtTable = null;
            }

            var date1Control = document.getElementById("date1").value;
            var date2Control = document.getElementById("date2").value;
            var locControl = document.getElementById("locDropdown1").value;
            var userControl = document.getElementById("userDropdown2").value;
            var plateControl = document.getElementById("plaka").value;


            if (debtTable == null) {
                debtTable = $('#borcReport_table').DataTable({
                    language: { url: '../dil.json' },
                    processing: true,
                    serverSide: true,
                    paging: false,
                    filter: true,
                    orderMulti: true,
                    scrollX: true,
                    order: [[0, "asc"]],
                    ajax: {
                        url: '@Url.Action("DebtCollectionReport", "DebtCollectionReport")',
                        type: "POST",
                        datatype: "json",
                        data: function (d) {
                            d.date1 = date1Control;
                            d.date2 = date2Control;
                            d.locId = locControl;
                            d.rowId = userControl;
                            d.plate = plateControl;
                        }
                    },
                    createdRow: function (row, data, dataIndex) {

                    },
                    columnDefs: [],
                    columns: [
                        { "render": (data, type, row) => { return row.plaka; }, "name": "plaka" },
                        { "render": (data, type, row) => { return row.username; }, "name": "username" },
                        { "render": (data, type, row) => { return row.locname; }, "name": "locname" },
                        { "render": (data, type, row) => { return row.debtpaymentdate; }, "name": "debtpaymentdate" },
                        { "render": (data, type, row) => { if (row.debtamount == null) return row.debtamount; else return '₺ ' + row.debtamount;}, "name": "debtamount" },
                        { "render": (data, type, row) => { return row.explanation; }, "name": "explanation" },
                    ],
                    fixedColumns: true,
                    scrollCollapse: true,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'copy',
                            className: 'btn blue',
                            text: '<i class="far fa-copy"></i> Kopyala',
                            footer: true,
                        },
                        {
                            extend: 'excel',
                            className: 'btn green',
                            text: '<i class="far fa-file-excel"></i> Excel',
                            footer: true,
                        },
                        {
                            extend: 'pdf',
                            className: 'btn red',
                            text: '<i class="far fa-file-pdf"></i> PDF',
                            footer: true,
                        },

                    ],
                    footerCallback: function (row, data, start, end, display) {

                        let Debtamount = 0;
                        data.forEach(element => {
                            Debtamount += element.debtamount;
                        })
                        var debtamount = parseFloat(Debtamount).toFixed(2);
                        $('#sum_amount').html(debtamount);
                    },

                    initComplete: function (settings, json) {
                        $('#parking_table_filter input').unbind();
                        $('#parking_table_filter input').bind('keyup', function (e) {
                            if (e.keyCode == 13) {
                                debtTable.search(this.value).draw();
                            }
                        });

                        $('.dataTables_scrollBody').removeAttr('style').css({
                            'position': 'relative',
                            'overflow-y': 'auto',
                            'overflow-x': 'hidden',
                            'width': '100%',
                            'max-height': ((window.innerHeight / 2) + 120) + 'px'
                        });
                    }
                })
            }

            debtTable.ajax.reload();
        }




        var Dropdown1 = () => {
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Dropdown1", "LocTariffAssignments")',
                    data: "json",
                    success: function (data) {

                        var s = '<option value="-1">Lütfen Lokasyon Seçiniz...</option>';
                        for (var i = 0; i < data.data.length; i++) {

                            s += '<option value="' + data.data[i].LocTariffAssignId + '">' + data.data[i].LocId + '</option>';
                        }
                        $("#locDropdown1").html(s);
                    }
                });
            });
        }

        var Dropdown2 = () => {
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Dropdown3", "Assignments")',
                    data: "json",
                    success: function (data) {

                        var s = '<option value="-1">Lütfen Kullanıcı Adı Seçiniz...</option>';
                        for (var i = 0; i < data.data.length; i++) {

                            s += '<option value="' + data.data[i].AssignId + '">' + data.data[i].kullaniciAdi + '</option>';
                        }
                        $("#userDropdown2").html(s);
                    }
                });
            });
        }

    </script>
    }